<%- include("header") -%>

<h2>About Page</h2>

<p>This is a web app. You can create here your personal to-do task list. Save the task to your  database server and uncheck it whem the task is complete by clicking the checkbox. <br/><br/> Thank you !</p>

<%- include("footer") -%>
